name: Check corona vaccine registration

on:
  # can be triggered manually
  workflow_dispatch:
  # on a schedule every 5 minutes
  # schedule:
  #  - cron: '*/5 * * * *'

jobs:
  screenshot:
    name: Commit
    runs-on: ubuntu-20.04
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Take screenshot
        uses: swinton/screenshot-website@v1.x
        with:
          source: https://impfterminservice-kvwl.service-now.com/
          destination: screenshot.png
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: screenshot.png
      - name: Commit screenshot
        run: |-
          git add .
          git config --global user.email "christoph@codepunkt.de"
          git config --global user.name "Christoph Werner"
          git commit -am "chore: screenshot" || exit 0
          git push
